<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="SMTPServerIP" value="inetmail.emrsn.net" />
    <add key="AdminEmail" value="markanthony.friaz@emerson.com" />
    <add key="AdminLink" value="markanthony.friaz@emerson.com" />
    <add key="DBConnectionString" value="Data Source=phectsmw-dev01.emrsn.org;Initial Catalog=R744BoosterTool;User ID=booster_user;Password=Emerson1" />
      
  
  </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
