<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="font-family:'Segoe UI';">
<p>Dear <i>@Name</i>,</p>  

<p>Thank you for expressing your interest in using our tool! We regret to inform you that the access rights for the R744 Booster Cycle Compressor Selection has been denied.</p>

<p>For an appeal request, kindly contact the <a href="mailto:@AdminEmail">License Administrator.</a></p>
 
<p>Kind regards,<br />
Emerson Climate Technologies GmbH</p>

</body>
</html>
